[[source]]
url = "https://$USERNAME:\"$PASSWORD\"@nexus.mobilityservices.io/repository/pypi/simple"
verify_ssl = true
name = "Nexus"

[packages]
pandas = "*"
jurbey = "==1.2.89"
minio = "*"
networkx = "*"
pytest = "*"
"psycopg2-binary" = "*"
modeldb = "*"
python-json-logger = "*"
mock = "*"
dataclasses = "*"
dask = {extras = ["complete"],version = "*"}
jsonnet = "*"
experiment-tracker = "*"
torch = "*"
scikit-learn = "*"

[dev-packages]
jupyter = "*"
jupytext = "*"
jsonnet = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
